<title> Intuit Account </title>

<header>

<p> Already have an Intuit account?  <br>
<a href="https://www.youtube.com/watch?v=96vcMhDC9eM">I forgot my User ID or Password</a>
</p>
<button type="button" class="btn btn-primary btn-md">Sign In</button>

</header>



<div class="container">
<h1>Intuit</h1>
<a id="liens_container"></a>
<ul>
	<li> <a href="http://www.nimportequoi.fr">turbotax</a> </li>
	<li> <a href="https://telegrafi.com/konference-nderkombetare-hulumtuese-nga-bprm/">quickbooks</a></li>
	<li> <a href="https://www.youtube.com/watch?v=96vcMhDC9eM">mint</a></li>

<div class="texte_formulaire">
<h2>One Account.</h2>
<h2>Everything Intuit.</h2>	

Create an account for all of Intuit's products including Mint. <a href="https://www.youtube.com/watch?v=MWr8DoK9Rmg">Learn more</a>
Already have an account? <a href="http://g-ernaelsten.developpez.com/tutoriels/rhtml/">Sign In</a>
</div>



  <div class="formulaire">
    <%= form_for(@user, url: signup_path) do |f| %>


      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %> Standard call, messaging or data rates may apply.

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>

    <button type="button" class="btn btn-primary btn-block">Create Account</button>

<p> By clicking Create Account, you agree to our  <a href="https://www.youtube.com/watch?v=WGmYP728MEw">License Agreement</a> and <a href="https://www.theodinproject.com/courses/html5-and-css3/lessons/html-forms">Privacy Statement</a></p>
  </div>

<footer>
	
<h3>INTUIT</h3>

<div class="liens_fin">
	<a href="">Legal</a> <a href="">Privacy</a> <a href="">Security</a>
</div>

2017 Intuit, Inc. All rights reserved. bla bla bla zarakoyava idu sawa bla bla bla zarakoyava idu sawa bla bla bla zarakoyava idu sawa bla bla bla zarakoyava idu sawa bla bla bla zarakoyava idu sawa.

</footer>










